<!DOCTYPE html>

<head>
    <title>Image View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    {{ if .username }}
                    <li role="presentation"><a href="/employeeview?email={{ .username }}">Profile</a>
                    <li role="presentation"><a href="/imageupload">Upload</a>
                    </li>
                    <li role="presentation"><a href="{{ .logoutURL }}">Logout</a>
                    </li>

                    {{ else }}
                    <li role="presentation"><a href="{{ .loginURL }}">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/SignUp">Sign Up</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <h3 class="text-muted">Imjur</h3>
        </div>
    </div>
    <div class="container">
        <h1>Image Record</h1>
        <h2>Image Title</h2>
        <p>{{ .name }}</p>
        <img src="/serveimage?blobkey={{ .blobKey }}"></img>
        <h2>Uploaded by</h2>
        <p>{{ .email }}</p>
        <h2>Time Uploaded</h2>
        <p>{{ .timeUploaded }}</p>
    </div>
    <div class="container">
        {{ if eq .userEmail .email }}
        <a href="/imagedelete?blobkey={{ .blobKey }}">Delete</a>
        {{ end }}
    </div>
</body>
