<!DOCTYPE html>

<head>
    <title>Imjur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    {{ if .username }}
                    <li role="presentation"><a href="/employeeview">Profile</a>
                    <li role="presentation"><a href="/imageupload">Upload</a>
                    </li>
                    <li role="presentation"><a href="{{ .logoutURL }}">Logout</a>
                    </li>
                    {{ else }}
                    <li role="presentation"><a href="/guestimageupload">Upload</a>
                    <li role="presentation"><a href="{{ .loginURL }}">Sign In</a>
                    </li>
                    <li role="presentation"><a href="https://accounts.google.com/SignUp?hl=en">Sign Up</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <h3 class="text-muted">Imjur</h3>
        </div>
        <p>Logged in as {{ .username }}
        </p>        
        <div class="well">
            <legend>Upload a File</legend>

            <form action="{{ .uploadURL }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Caption</label>
                    <textarea class="form-control" type="text" id="name" name="name"></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Photo</label>
                    <input type="file" id="file" name="file" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
